# SERVER
SERVER_PORT=

# DATABASE
DB_URL=jdbc:
DB_USERNAME=
DB_PASSWORD=

# JPA
JPA_DDL_AUTO=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=         # Leave this blank if your local Redis has no password (which is the default).

# Async Configuration
ASYNC_CORE_POOL_SIZE=
ASYNC_MAX_POOL_SIZE=
ASYNC_QUEUE_CAPACITY=
ASYNC_THREAD_NAME_PREFIX=

# CLOUD OBJECT STORAGE
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT AUTH
JWT_SECRET=
JWT_EXPIRATION_MS=